@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  box-sizing: border-box;
}

body {
  background-color:   #bbbbbb;
}

.smooth-shadow{
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07)
  ;
  
}

.step-box{
    font-family: Poppins;
    padding: 0 0 0 0;
    background-color: #006203;
}
.step-box .step {
  height: 45px;
  width: 45px;
  background-color: #f1f1f1;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  line-height: 1.9;
  font-size: 24px;
  font-weight: 700;
  opacity: 0.8;
  transition: 0.5s;
  color: black;
}
.step-box .outer-step{
    margin: 15px;
    padding: 15px 10px 0 10px;
    transition: 0.5s;
}
.step-box .outer-step p{
    margin-top: 8px;
    letter-spacing: 1px;
    color: #fff;
}
.step-box .outer-step.active{
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
}
.step-box .outer-step.active .step {
  background-color: black;
  opacity: 1;
  color: #fff;
}
.step-box .outer-step.finish.active .step{
  color:#212529; 
}
.step-box .outer-step.finish .step {
  background-color: #30CB00;
}


#regForm {
  background-color: #ffffff;
  margin: 30px 0 0 0;
  font-family: Montserrat;
  padding: 40px 60px 50px 60px;
  width: 100%;
  min-width: 300px;
}

#regForm h1 {
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: bold;
  text-align: center;  
  font-size: 1.7rem;
}
#regForm label{
  font-weight: 700;
  font-size: 13px;
}
#regForm input[type=text],
#regForm input[type=email]{
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: Montserrat;
  color: black;
  font-size: 13px;
}
#regForm select{
  border: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: Montserrat;
  color: black;
  font-size: 13px;
}

#regForm .tab input:focus{
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1.4px solid #4CAF50;
  outline-width: 0;
  transition: All 0.3s ease-in;
}
#regForm input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
#regForm .tab {
  display: none;
}

#regForm button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  font-family: Montserrat;
  cursor: pointer;
  margin: 5px 10px;
  border-radius: 25px;
  transition: 0.4s;
}

#regForm button:hover {
  opacity: 0.8;
}

#regForm #prevBtn {
  background-color: #bbbbbb;
}

#prevBtn:hover{
  box-shadow: 0 0 0 2px white, 0 0 0 3px  #bbbbbb;
}
#nextBtn:hover{
  box-shadow: 0 0 0 2px white, 0 0 0 3px #4CAF50;
}
  