/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html{
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color:  #0072c9;
  text-decoration: none;
}

a:hover {
  color: #394B6E;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Poppins", "Raleway", sans-serif;
  color:  #0072c9;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 80px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 15px 0;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;

}

#header .logo h1 a, #header .logo h1 a:hover {
  color: #545454;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  margin-top: -20px;
  max-height: 80px;
  margin-right: 30px;
 
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu{
  margin-right: 30px !Important;
}
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight:600;
}

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .active > a:before {
  visibility: visible;
  width: 100%;
}
.nav-menu > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  top: -15px;
  left: 0;
  background-color:  #0072c9;
  visibility: hidden;
  width: 0px;
  transition: all 0.2s ease-in-out 0.1s;
}
.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu a {
  display: block;
  position: relative;
  color:#444444;
  padding: 15px 10px;
  transition: 0.3s;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color:  #0072c9;
  text-decoration: none;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 20px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color:  #0072c9;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

/* button */
.text-box{
  margin-top: 5px;
  margin-left: 15px;
}
.text-box a{
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.text-box .btn:link, .btn:visited {
  text-decoration: none;
  padding: 8px 25px;
  display: inline-block;
  border-radius: 100px;
  transition: 0.4s;
}
.text-box  .btn:hover {
  transform: translateY(-3px);
}
.text-box  .btn:active {
  transform: translateY(-1px);
}
.text-box .btn-msk {
  background-color:  #0072c9;
  color: #fff;
}
.text-box .btn-dft {
  background-color: #fff;
  color:  #0072c9;
  border: 2px  #0072c9 solid;
}




/* Mobile Navigation */
.menu-toogle{
  display: none;
  flex-direction: column;
  height: 24px;
  margin-top: 10px;
  justify-content: space-between;
  position: absolute;
  right: 5%;
  cursor: pointer;
}

.menu-toogle span{
  background-color: green;
  width: 30px;
  height: 3px;
  border-radius: 3px;
  display: block;
  transition: all 0.5s;
}

/* Menu Animation */
.menu-toogle span:nth-child(1){
  transform-origin: 0 0;
 
}
.menu-toogle span:nth-child(3){
  transform-origin: 0 0;
  
}
.menu-toogle input:checked ~ span:nth-child(2){
  transform: rotate(45deg) translate(0, -1px);
}
.menu-toogle input:checked ~ span:nth-child(3){
  transform: scale(0);
}
.menu-toogle input:checked ~ span:nth-child(4){
  transform: rotate(-45deg) translate(0, -1px);
}

.garisx span:nth-child(1){
  transform: rotate(45deg) translate(0, -1px);
}
.garisx span:nth-child(2){
  transform: scale(0);
}
.garisx span:nth-child(3){
  transform: rotate(-45deg) translate(0, -1px);
}


@media screen and (max-width:992px){
  .menu-toogle{
      display: flex;
  }
  nav ul{
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 0vh;
    background-color: yellow;
    transition: all 0.5s;
  }

  .nav-menu a{
    display: none;
  }
  .nav-menu .slide a{
    display: block;
  }

  nav ul.slide{
    height: 100vh;
    flex-direction: column;
    display: flex;
  }
  ul.slide li{
    left: 30%;
    top:20%;
  }
  #header ul.slide li a{
    font-size: 1.1rem;
  }
  #header .text-box{
    margin-right: 20px;
    margin-left: -10px;
    position:absolute;
    left: 50%;
    top:90%;
    display: none;
    transition: all 0.5;
  }
  #header .btn-msk{
    margin-left: -90%;
  }
  #header .btn-dft{
    margin-left: 20%;
  }
  .nav-menu > ul > li > a:before {
    content: "";
    background-color: transparent;
  }
  .nav-menu .slide a:hover, .nav-menu .slide .active > a, .nav-menu .slide li:hover > a {
    color:  #0072c9 !important;
    text-decoration: none;
  }
  #peraturan .row{
    flex-direction: column-reverse;
  }
  #header.mobile .text-box{
    display: block;
  }


}

@media screen and (max-width:556px){
  ul.slide li{
    left: 25%;
    top:20%;
  }
  #header .text-box{
    margin-right: 20px;
    margin-left: -10px;
    position:absolute;
    left: 50%;
    top:90%;
  }
  #about .content {
    margin-top: 0px;
  }
  .whatsapp .float{
    bottom:15px !important;
    right:12px !important;
  }
}
/* carousel */
#carousel{
  padding-top: 80px;
}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color:#FFCA19 ;
}

.carousel a .fas{
  color:#FFCA19 !important;
}

/*--------------------------------------------------------------
# services
--------------------------------------------------------------*/
.services{
  margin:20px 0 0;
}
.services .icon-box {
  padding: 17px 20px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.4s ease-in-out;
  border-radius: 8px;
  border: 3px solid  #0072c9;
  z-index: 1;
}

.services .icon-box::before {
  content: '';
  position: absolute;
  background: #FFCA19;
  opacity:1 ;
  right: -60px;
  top: -40px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  transition: all 0.4s;
  z-index: -1;
}

.services .icon-box:hover::before {
  background: #FFCA19;
  opacity: 1;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0px;
}

.services .icon {
  margin: 0 auto 20px auto;
  padding-top: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  border: 3px solid#FFCA19;
  height: 60px;
  background:  #0072c9;
  transition: all 0.4s ease-in-out;
}

.services .icon i {
  font-size: 26px;
  line-height: 1.3;
  color: #fff;
}


.services .title {
  font-weight: 700;
  font-family: "Poppins", "Open Sans", sans-serif;
  margin-bottom: 5px;
  font-size: 18px;
}

.services .title {
  color:  #0072c9;
}

.services .description {
  font-size: 12px;
  margin-bottom: 0;
  font-weight: 500;
}

.services .icon-box:hover .title { 
  color: #0072c9;
}
.services .icon-box:hover .description {
  color:#fff;
}

.services .icon-box:hover .icon {
  background: #FFF;
  border: 3px solid #0072c9;
}
.services .icon-box:hover i{
  color: #0072c9;
}

/*--------------------------------------------------------------
# about
--------------------------------------------------------------*/
#about {
  background: #fff;
  padding: 70px 0 40px;
}

#about .section-about h2{
  font-family: "Poppins", "Open Sans", sans-serif;
  font-weight: 700;
  position: relative;
  margin-top: 20px;

}

#about .content {
  margin-top: 30px;
}
#about .content p{
  font-size: 0.95rem;
}

/*--------------------------------------------------------------
# Alur
--------------------------------------------------------------*/
#alur{
  background-color:  #0072c9;
  margin-top: 20px;
  padding:20px 0 20px;
  color: #fff !important;
}
#alur .title-alur h2{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #fff;
  margin: 70px 0;

}

#alur .alur-body{
  transition: 0.3s;
}
#alur .alur-body:hover {
  transform: scale(1.05);
}
#alur .alur-box .alur-body p {
  margin:10px 0 50px;
  font-size: 0.8rem;
  font-family: "Open Sans", "Poppins", sans-serif;
}
#alur .alur-box .alur-body p a{
  font-weight: 700;
  color: #FFCA19;
}
#alur .alur-box .alur-body .alur-nomor h3{
  color: #FFCA19;
  text-shadow: 2px 2px rgba(255, 202, 25,0.5);
  font-weight: 700;
  background:  #0072c9;
  text-align: center;
  border-radius:20px ;
  height: auto;
  width: 25%;
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;

}
#alur .alur-box .alur-body i{
  position: relative;
  margin-top: -100px;
}

/*--------------------------------------------------------------
# Pembayaran
--------------------------------------------------------------*/
#pembayaran{
  padding:40px 0 20px;
}
#pembayaran .isi-pembayaran{
  text-align: center;
}

#pembayaran .isi-pembayaran h3{
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  color:  #0072c9;
  margin-bottom: 15px;
}
#pembayaran .title-pembayaran h2{
  position: relative;
  margin-bottom: 40px;
}
#pembayaran .title-pembayaran h2::after{
  content:"";
  width: 310px;
  height: 5px;
  background: #FFCA19;
  position: absolute;
  left:10%;
  bottom: -8px;
  margin-left: -110px;
}
#pembayaran .isi-pembayaran img{
  width: 130px;
  height: auto;
}

/*--------------------------------------------------------------
# Peraturan
--------------------------------------------------------------*/
#peraturan{
  background-color:  #0072c9;
  margin-top: 20px;
  padding:30px 20px;
  color: #fff !important;
}
#peraturan .title-peraturan h2{
  font-weight: 700;
  padding-left: 10px;
  border-left: 5px solid #fff;
  color: #fff;
  margin-top: 15px;
  margin-bottom:20px ;
}
#peraturan .accordion-button{
  font-family: "Poppins", sans-serif;
  color: #fff ;
  border:1px solid #fff;
  font-size: 0.85rem;
}
#peraturan .accordion-button:focus {
  z-index: 3;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(255,255,255,.25);
}
#peraturan .accordion-button:not(.collapsed) {
  background-color:  #0072c9;
}
#peraturan .accordion-button::after {
  filter: brightness(100);
}
#peraturan .accordion-collapse{
  border-color: #fff;
}
#peraturan .accordion-body{
  font-size: 0.8rem;
}
#peraturan .accordion-body a{
  color: #fff !important;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  padding-left: 10px;
}
#peraturan .text-box a{
    background-color:  #0072c9;
    color: #fff;
    border: 2px #fff solid;
}
#peraturan .text-box{
  margin-left: 10px;
}

/*--------------------------------------------------------------
# Whatsapp
--------------------------------------------------------------*/
.whatsapp .float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:36px;
	box-shadow: 2px 2px 3px  #0072c9;
  z-index:100;
  transition: 0.3s;
}

.whatsapp .my-float{
	margin-top:12px;
}
.whatsapp:hover .float {
  transform: scale(1.1);
}

/*--------------------------------------------------------------
# Pembayaran
--------------------------------------------------------------*/
#pembayaran .title-pembayaran h2{
  font-weight: 700;
  font-family: "Poppins",sans-serif;

}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {

  padding: 0 0 30px 0;
  color: #444444;
  font-size: 14px;
  background:  #0072c9;
  font-family: "Poppins", sans-serif;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 24px;
  margin: 0 0 15px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact h3 span {
  color:  #0072c9;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
  color: #777777;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #2F3D57;
  font-size: 12px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color:  #0072c9;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background:  #0072c9;
  color: #fff;
  opacity: .7;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background:  #0072c9;
  color: #fff;
  opacity: 1;
  text-decoration: none;
}

#footer .copyright {
  text-align: center;
  float: left;
  font-weight: 700;
  color: white;
}

#footer .credits {
  float: right;
  text-align: center;
  font-size: 13px;
  color: #444444;
}
#footer iframe{
  width: 100%;
  height: 250px;
}

@media (max-width: 768px) {
  #footer .copyright, #footer .credits {
    float: none;
    text-align: center;
    padding: 2px 0;
  }
}
