/* logo */
.logo span.logo-lg {
    display: block;
    margin-top: -3%;
    margin-left: -3%;
}
/* end logo */

/* navbar */
.navbar-custom {
	background: rgba(7, 122, 70,0.65);
}
.navbar-custom .topnav-menu .nav-link {
	color: rgba(255, 255, 255, 1);
}
/* end navbar */

/* tab menu */
#sidebar-menu .menuitem-active .active {
    color: #077A46;
	font-weight: 500;
	border-left: 3px solid #077A46;
	background: linear-gradient(160deg, rgba(7,120,70,0.15) 20%, rgba(7,120,70,0.05) 90%);
}
#sidebar-menu > ul > li{
	transition: 0.5s all;
}
#sidebar-menu > ul > li > a {
	color: rgba(7, 122, 70, 0.6);	
}
#sidebar-menu > ul > li > a:active, #sidebar-menu > ul > li > a:focus, #sidebar-menu > ul > li > a:hover {
    color: rgba(7, 122, 70, 0.9);
}
#sidebar-menu > ul > li:hover{
	background: linear-gradient(160deg, rgba(7,120,70,0.15) 20%, rgba(7,120,70,0.05) 90%);
}
#sidebar-menu > ul >li.menuitem-active:hover{
	background: none;
}
body[data-sidebar-size="condensed"] .left-side-menu #sidebar-menu > ul > li:hover > a {
	color:#077A46;
	background: linear-gradient(100deg, rgba(7,120,70,0.15) 0%, #fff 50%);
}
/* end tab menu */

/* header title */
.page-title-box .page-title {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
}
/* end header title */

.vertical-table{
    vertical-align: top;
}

/* info sppt */
body.authentication-bg {
    background-color: rgba(50, 168, 82,.8);
    background-size: cover;
    background-position: center;
}
.intro-text {
	margin-bottom: 120px;
	color: #98979E;
	font-size: 13px;
	font-weight: 700;
	line-height: 1.6;
}
.sign-section {
	flex-basis: 30%;
	color: #98979E;
	border-radius: 2px;
	box-shadow: 0px 0px 5px 3px rgba(220,218,228,1);
}
.col-lg-4.sign-button{
    height: 35px;
    
}
.sign-button {
	background-color: #55C063;
	width: 100%;
	height: 50px;
	display: block;
	margin: 0 auto;
	font-size: 15px;
	font-weight: 900;
	color: #fff;
	text-align: center;
	border: none;
	border-radius: 10px;
	box-shadow: 0px 0px 5px 1px rgba(85,192,99,1);
	outline: none;
	cursor: pointer;
	transition: .3s ease;
}
.sign-button:hover {
	background-color: #67E878;
	box-shadow: 0px 0px 5px 1px rgba(103,232,120,1);
}
/* end info sppt */
  

/* kode bayar */
.nav-pills .nav-link.active{
	background-color: rgba(7,120,70,0.8);
}
.tab-payment .nav > li > a:hover {
    border: 0px;
    color: black;
	background-color:  rgba(7,120,70,0.3);
}
.tab-payment .nav > li > a.active:hover {
	background-color: rgba(7,120,70,0.8);
	color: #fff;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color:  rgba(7,120,70,1);
    background-color: rgba(7,120,70,0.8);
}
/* end kode bayar */

/* tab */
.nav-bordered a.active {
    border-bottom: 2px solid #077A46!important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: rgba(7,120,70,0.9);
	font-weight: 700;
}
/* end tab */


/* Login */
.sign-in-up {
  background-color: white;
  width: 100%;
  max-width: 550px;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.sign-in-up ul li a{
	font-size: 0.95rem;
}
/*  Field */
.sign-in-up-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin-bottom: 50px;
}
.sign-in-up-field:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 0px;
  height: 2px;
  background: #a4243b;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.4s ease;
}
.sign-in-up-field:hover:before {
  width: 100%;
}

/*  Input */
.sign-in-up-input {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  padding: 10px 2px 0;
  border-bottom: 2px solid #e0e0e0 !important;
}

/*  Label */
.sign-in-up-label {
  color: #bdbdbd;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2px;
  font-size: 1rem;
  transition: all 0.3s ease;
  font-weight: 500;
}

.sign-in-up-input:focus + .sign-in-up-label,
.sign-in-up-input:valid + .sign-in-up-label {
  top: 0;
  font-size: 0.85rem;
  background-color: white;
}

/*  Button */
.sign-in-up .sign-in-button {
  background: #a4243b;
  color: white;
  padding: 10px 0;
  font-size: 1rem;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.4s;
  width: 100%;
}

.sign-in-up .sign-in-button:hover {
  background: #4b111b;
}

.sign-in-up .tab-content .tab-pane button,
.sign-in-up .tab-content .tab-pane input {
  border: none;
  outline: none;
}

/* button */
.sign-button-in-up{
	display: flex;
	justify-content: center;
}
.text-box{
	margin:5px;
}
.text-box a{
font-size: 0.9rem;
font-weight: 700;
}
.text-box .btn:link, .btn:visited {
text-decoration: none;
padding: 10px 75px;
display: inline-block;
border-radius: 100px;
transition: 0.4s;
}
.text-box  .btn:hover {
transform: translateY(-3px);
}
.text-box  .btn:active {
transform: translateY(-1px);
}
.text-box .btn-msk {
background-color: #077A46;
color: #fff;
}
.text-box .btn-dft {
background-color: #fff;
color: #077A46;
border: 2px #077A46 solid;
}
  
/* end login */

@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#multistep-register .header-title{
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: bold;
  text-align: center;  
  font-size: 1.7rem;
}

#multistep-register .form-wizard-header{
  font-family: Poppins;
  font-weight: 700;
}

#multistep-register .step{
  height: 45px;
  width: 45px;
  border: none;
  background-color: #0072c9;
  color:  #fff ;
  text-align: center;
  border-radius: 50%;
  line-height: 1.9;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  transition: 0.5s;
  margin: auto;
}
#multistep-register .nav-link.active .step{
  background-color: #fff;
  color:  #6c757d ;
  transition: 0.5s;
}
#multistep-register .nav-link.active{
  transition: 0.5s;
}
#multistep-register .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #0072c9;
}

#multistep-register .progress-bar{
  background-color:  #0072c9;
  transition: 1s;
}

#multistep-register .tab-pane h1{
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: bold;
  text-align: center;  
  font-size: 1.5rem;
}
#multistep-register .tab-content>.tab-pane {
  transition: 1s;
}
#multistep-register input,
#multistep-register select {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: Montserrat;
  color: #444;
  font-size: 13px !important;
}
#multistep-register input.invalid {
  background-color: #ffdddd;
}
#multistep-register input:focus{
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1.5px solid #0072c9;
  outline-width: 0;
  transition: All 0.4s ease-in;
}

#multistep-register button {
  background-color:  #0072c9;
  color: #ffffff;
  border: none;
  padding: 10px 18px;
  font-size: 14px;
  font-family: Montserrat;
  cursor: pointer;
  margin: 5px 10px;
  border-radius: 25px;
  transition: 0.4s;
}

#multistep-register button:hover {
  opacity: 0.8;
}

#multistep-register #prevBtn {
  background-color: #6c757d;
}

#prevBtn:hover{
  box-shadow: 0 0 0 2px white, 0 0 0 3px #6c757d;
}
#nextBtn:hover{
  box-shadow: 0 0 0 2px white, 0 0 0 3px  #0072c9;
}
  

